---
import connpassIcon from '../assets/connpass_icon.svg';
import xIcon from '../assets/x_icon.svg';
---

<div class="footer">
  <ul>
    <li>
      <a href="https://vuekansai.connpass.com/" target="_blank" rel="noreferrer">
        <img src={connpassIcon.src} alt="" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/search?q=%23v_kansai&src=typed_query" target="_blank" rel="noreferrer">
        <img src={xIcon.src} alt="" />
      </a>
    </li>
  </ul>
  <p>
    © 2018-2024 v-kansai All Rights Reserved.
  </p>
</div>

<style>
  .footer {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 4px;
  }
  .footer ul {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
  }
  .footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer a:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
  .footer img {
    width: 40px;
    height: 40px;
  }
</style>
